# Default reviewers for pull requests.
# Customize before enabling "Require review from Code Owners" in branch protection.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# * @YOUR_GITHUB_USERNAME
